:root {
    --header_height: 20vh;
    --outer_background_color: #022C04;
    --inner_background_color: #124012;
    --text_color: #DCA028;
}

html, body {
    min-height: 100vh;
    background-color: var(--outer_background_color);
    color: var(--text_color);
    scroll-padding-top: var(--header_height);
    margin: 0;
    overscroll-behavior: none;
}

.flex_top_bottom {
    display: flex;
    flex-direction: column;
}

header {
    position: sticky;
    top: 0;
    min-height: var(--header_height);
    background-color: var(--outer_background_color);
    margin: 0;
    padding: 0;
    z-index: 5;
}

.columns {
    margin: 0;
    padding: 0;
    display: flex;
}

.nav_bar {
    position: sticky;
    width: 7vw;
    top: calc(var(--header_height));
    height: calc(100vh - var(--header_height));
    background-color: var(--outer_background_color);
}

.scrolling_body {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: var(--inner_background_color);
}

#footer {
    background-color: var(--outer_background_color);
}